<!-- parcialess/admin-header.ejs -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="/img/sena-css-logo.png" alt="SENA Centro de Servicios de Salud Regional Antioquia" class="sena-css-logo">
        </div>
        <h1 class="navbar-title mb-0 h1 text-center">SISTEMA DE GESTIÓN DE ETAPA PRODUCTIVA - ADMINISTRADOR</h1>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Regresar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/listar-aprendices">Listar Aprendices</a>
            </li>
        </ul>
    </div>
</nav>